<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VitalPulse</title>
    <link rel="stylesheet" href="./static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <nav>
        <div class="navbar">
            <h3 class="navh3"><a href="/">VitalPulse Analytics</a></h3>
        </div>
        <div class="navend">
            <a href="/" class="navtext">Home</a>
            <a href="/aboutme" class="navtext">About</a>
            <a href="/#services" class="navtext">Services</a>
            <!-- <a href="#" class="navtext">Contact</a> -->
        </div>
    </nav>
    <div class="title-container">
        <div class="title-box">
            <h1>VitalPulse Analytics</h1>
        </div>
    </div>
    <div class="display-text">
        <h2 class="displaytxt">Navigating Wellness, Redefining Tomorrow: Your Complete Insight Hub.</h2>
    </div>
    <div class="insight" id="services">
        <div class="insight-title">
            <h2 class="subtitle">HeartGuard Insight Corner</h2>
        </div>
        <div class="card">
            <img
              src="./static/images/2022-Top-10_SC.jpg"
              alt="Card Image">
            <div class="card-content">
              <h2 class="card-text">With the increasing challenges posed by heart diseases, early detection becomes paramount. The HeartGuard Predictor utilizes cutting-edge technology to assess various risk factors and provide you with a comprehensive analysis of your heart health. Empowering you with knowledge is the first step towards a heart-healthy lifestyle.</h2>
            </div>
          </div>
        <div class="insight-text">
            <h3 class="container-txt">Welcome to VitalPulse Analytics, where we understand the growing concern surrounding heart diseases. In recent years, the prevalence of heart-related conditions has been on the rise, emphasizing the need for proactive health management. Our commitment to your well-being drives us to introduce an innovative tool – the HeartGuard Predictor.
                Take charge of your well-being today. Try our HeartGuard Predictor and gain insights into your heart health. It's a simple yet powerful tool designed to predict the likelihood of heart disease based on key indicators. Knowledge is your greatest ally in the fight against heart-related concerns.
                Don't wait until symptoms appear – be proactive and prioritize your cardiovascular health. Your heart matters, and so does your future. Discover the peace of mind that comes with knowing your heart health status. Trust the HeartGuard Predictor – your partner in preventive care. Take the first step towards a healthier tomorrow!<br><a href="/heartguardpredictor"> Try Now <i class='bx bx-link-external try-now'></i></a></h3>
        </div>
    </div>
    <div class="text-bar">
        <div class="text-bar-txt">
            <h2 class="banner-txt">According to the World Health Organization,<br/>
                 around <span class="colortxt">35,40,000 deaths</span> occur in India due to <span class="colortxt">cardiovascular disease (CVD)</span>,<br/>
                  with it being more prevalent among the younger population.<br></h2>
        </div>
    </div>
    <div class="insight">
        <div class="insight-title">
            <h2 class="subtitle">FatMetrics Explorer: Navigating Heart Wellness</h2>
        </div>
        <div class="card">
            <img
              src="./static/images/bodyfat1.jpg"
              alt="Card Image">
            <div class="card-content">
              <h2 class="card-text">This innovative tool goes beyond the numbers on the scale and provides you with a comprehensive analysis of your body fat percentage. Armed with this knowledge, you can make informed decisions about your lifestyle and take proactive steps towards reducing the risk of heart disease.</h2>
            </div>
          </div>
        <div class="insight-text">
            <h3 class="container-txt">At VitalPulse Analytics, we recognize the pivotal role that maintaining a healthy body composition plays in preventing heart disease. Research consistently highlights the correlation between increased body fat and elevated risks of cardiovascular issues. Understanding your body fat percentage is a crucial step towards achieving optimal heart health.

                Introducing our revolutionary tool – the BodyVitality Gauge. Embark on a journey to better health by discovering your body fat percentage with the BodyVitality Gauge. This user-friendly tool is designed to offer personalized insights, empowering you to make informed choices for a healthier, happier you.<br><a href="/fatmetrics"> Try Now <i class='bx bx-link-external try-now'></i></a></h3>
        </div>
    </div>
    <div class="text-bar">
        <div class="text-bar-txt second">
            <h2 class="banner-txt"><span class="colortxt">High body fat</span> can lead to elevated blood pressure, increasing the strain on the heart and blood vessels, which <span class="colortxt">raises the risk of hypertension</span>.</h2>
        </div>
    </div>
    <div class="insurance">
        <div class="insight-title">
            <h2 class="subtitle">WealthGuard Wellness: Navigating Health and Financial Security</h2>
        </div>
        <div class="text-and-image">
            <div class="ins-text">
                <h3 class="container-txt">At VitalPulse Analytics, we blend health and financial well-being seamlessly. Take the next step in securing your financial future with our InsuranceGuard Estimator. By considering factors like BMI and smoking status, it provides a tailored estimate for your insurance premiums. Plan effectively for a healthier and financially resilient tomorrow. Invest in your well-being today at VitalPulse Analytics —where health, heart, and finances converge.<br><a href="/insurancepredictor">Try Now <i class='bx bx-link-external try-now'></i></a></h3>
            </div>
            <div class="ins-image-container">
                <img class="ins-image"
              src="./static/images/MedicalImage.png"
              alt="Card Image">
              <div class="ins-image-content">
                <h2 class="card-text">Investing in your health today is an investment in a resilient future.</h2>
              </div>
            </div>
        </div>
    </div>
    <div class="text-bar">
        <div class="text-bar-txt second">
            <h2 class="banner-txt">Health insurance safeguards your well-being, covering medical costs and providing peace of mind. <span class="colortxt">Don't gamble on health</span> – ensure protection today!</h2>
        </div>
    </div>
    <footer>
        <div class="footer-container">
          <div class="icons">
            <a href="#" target="_blank" rel="noopener noreferrer">
              <img src="./static/images/icons/linkedin.png" alt="LinkedIn" class="icon-img bw">
            </a>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <img src="./static/images/icons/github.png" alt="Github" class="icon-img github invert">
            </a>
            <a href="#" target="_blank">
              <img src="./static/images/icons/twitter.webp" alt="Twitter" class="icon-img invert">
            </a>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <img src="./static/images/icons/instagram.png" alt="Instagram" class="icon-img bw">
            </a>
          </div>
          <div class="credits">
            <p>&copy; harrypotter001 The Majestic Creation of Md Zoaib Alam. Crafted with Passion, Precision, and a Touch of
              Magic <i class='bx bxs-magic-wand'></i>.</p>
          </div>
      </footer>
</body>
</html>